<div>
  <div class="grid grid-cols-3">
    {% for block in section.blocks %}
      <div>
        {% if block.settings.card_image != blank %}
          <img
            src="{{ block.settings.card_image | asset_url }}"
            width="600"
            height="600"
            alt="{{  block.settings.button_text}}"
            class="w-full h-auto object-cover"
          >
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<script></script>
{% schema %}
{
  "name": "Collection Grid+carousel",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fbfaf7"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        { "type": "image_picker", "id": "card_image", "label": "Card Image" },

        { "type": "text", "id": "button_text", "label": "Button Text", "default": "Learn More" },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Grid+carousel",
      "blocks": [{ "type": "card" }, { "type": "card" }, { "type": "card" }]
    }
  ]
}
{% endschema %}
