<section>
  {%- for block in section.blocks -%}
    {%- if block.settings.menu != blank -%}
      <ul class="">
        {%- for link in block.settings.menu.links -%}
          <li>
            <a
              href="{{ link.url }}"
              class=""
            >
              {% comment %} class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}" {% endcomment %}
              {{ link.title | escape }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {% endfor %}
</section>

<style></style>

<script></script>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    }
  ]
}
{% endschema %}
