/*================= PRODUCT TABS ============*/
.wpbingo-section--product-tabs .product-tabs__nav {
  margin-bottom: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}
.wpbingo-section--product-tabs .product-tabs__nav ul {
  display: flex;
  position: relative;
  white-space: nowrap;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li {
  display: inline-block;
  white-space: nowrap;
  margin: 0 27px;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li:first-child {
  margin-left: 0;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li:last-child {
  margin-right: 0;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li a{
  font-family: var(--font-family-second);
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li a::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: var(--theme-color);
  transition: all .3s ease;
  bottom: 0;
}
.wpbingo-section--product-tabs .product-tabs__nav ul li a:hover::before,
.wpbingo-section--product-tabs .product-tabs__nav ul li a.active::before {
  width: 100%;
}
.wpbingo-section--product-tabs .button-view {
  text-align: center;
  margin-top: 50px;
}
.wpbingo-section--product-tabs .button-view a {
  display: inline-block;
  line-height: 40px;
  padding: 0 30px;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.wpbingo-section--product-tabs .button-view a:hover {
  border-color: var(--theme-color);
  background: var(--theme-color);
  color: var(--white);
}
@media (min-width: 1200px) {
  .wpbingo-section--product-tabs .slick-arrow {
    opacity: 1;
    visibility: visible;
    top: -78px;
    width: 70px;
    height: 25px;
    line-height: 25px;
  }
  .wpbingo-section--product-tabs .slick-next {
    right: 0;
  }
  .wpbingo-section--product-tabs .slick-prev {
    right: 78px;
    left: auto;
  }
}
@media (max-width: 767px) {
	.wpbingo-section--product-tabs .product-tabs__nav ul li {
    margin: 0 15px;
  }
  .wpbingo-section--product-tabs .product-tabs__nav .product-tabs__nav-link {
    font-size: 20px;
  }
}
@media (max-width: 390px) {
  .wpbingo-section--product-tabs .product-tabs__nav ul {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    justify-content: inherit;
  }
}